<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../css/main.css">
    <title>FreeLand</title>
</head>
<body>
<div  id="containermain" class="container">
<nav class="navbar navbar-expand-lg navbar-dark  mynavbar" style="font-family: 'Italianno', cursive; font-size: 30px;">
  <a href="#" class="navbar-brand">
    <img src="../img/logo.png" alt="logo" width="50" height="50">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul  id="navUl"class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a id="home" href="#" class="nav-link" >Home</a>
      </li>
      <li class="nav-item">
        <a id="rules" href="#" class="nav-link">Rules</a>
      </li>
      <li class="nav-item">
        <a  id="PM" href="#" class="nav-link">PM</a>
      </li>
    </ul>
    <form class="form-inline my2 my-lg-0">
      <input type="text" class="form-control mr-sm-2" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my2 my-sm-0">Search</button>
    </form>
  </div>
</nav>
  <div class="container-fluid mycontainer">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Recent comments</th>
        <th>Forum</th>
        <th>Replies</th>
        <th>Last post</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Priboy cams Megathread</td>
        <td>Mega Threads 	</td>
        <td>123</td>
        <td>1 min ago by booblick</td>
      </tr>
      <tr>
        <td>Priboy cams Megathread</td>
        <td>Mega Threads 	</td>
        <td>123</td>
        <td>1 min ago by booblick</td>
      </tr>
      <tr>
        <td>Priboy cams Megathread</td>
        <td>Mega Threads 	</td>
        <td>123</td>
        <td>1 min ago by booblick</td>
      </tr>
      <tr>
        <td>Priboy cams Megathread</td>
        <td>Mega Threads 	</td>
        <td>123</td>
        <td>1 min ago by booblick</td>
      </tr>
      </tbody>
    </table>
  </div>
  <br>
  <div class="container-fluid mycontainer">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Recent comments</th>
        <th>Forum</th>
        <th>Replies</th>
        <th>Last post</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Priboy cams Megathread</td>
        <td>Mega Threads 	</td>
        <td>123</td>
        <td>1 min ago by booblick</td>
      </tr>
      <tr>
        <td>Priboy cams Megathread</td>
        <td>Mega Threads 	</td>
        <td>123</td>
        <td>1 min ago by booblick</td>
      </tr>
      <tr>
        <td>Priboy cams Megathread</td>
        <td>Mega Threads 	</td>
        <td>123</td>
        <td>1 min ago by booblick</td>
      </tr>
      <tr>
        <td>Priboy cams Megathread</td>
        <td>Mega Threads 	</td>
        <td>123</td>
        <td>1 min ago by booblick</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="../js/main.js"></script>
</body>
</html>
